<!DOCTYPE html>
<html>

<head>
  <title>Classic Calculator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Build Your Class Talent Tree!">
  <meta name="keywords" content="HTML5, CSS3, JavaScript, ES6, WoW Classic, World of Warcraft Classic">
  <meta name="author" content="PJS Development">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Oswald:500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body>

  <script>
    if (window.location.pathname === '/') {
      window.location.pathname = '/talent'
    }
  </script>