<%- include ('partials/header') %>
    <div class="generalcontainer">
        <div id="errorcontainer">
            <section id="error">404 Error!</section>
            <div id="errorimage"></div>
            <div id="errortext">Something has definitely gone wrong. Perhaps you had the wrong URL input, or maybe you stumbled upon one of our failures. Regardless, go back and do it the RIGHT way this time. . .</div>
            <div><a href="/talent">Go Back!</a></div>
        </div>
    </div>

    <%- include ('partials/footer') %>