<% include partials/header %>

    <div class="generalcontainer">
        <div id="scrollarrow"></div>
        <div class="menucontainer">
            <div id="talentmenutext">Pick A Class!</div>
            <ul id="menu">
                <li class="menu-item">
                    <button class="character-button" id="warriorbtn" data-character="warrior"></button>
                </li>
                <li class="menu-item">
                    <button class="character-button" id="magebtn" data-character="mage"></button>
                </li>
                <li class="menu-item">
                    <button class="character-button" id="roguebtn" data-character="rogue"></button>
                </li>
                <li class="menu-item">
                    <button class="character-button" id="priestbtn" data-character="priest"></button>
                </li>
                <li class="menu-item">
                    <button class="character-button" id="hunterbtn" data-character="hunter"></button>
                </li>
                <li class="menu-item">
                    <button class="character-button" id="warlockbtn" data-character="warlock"></button>
                </li>
                <li class="menu-item">
                    <button class="character-button" id="druidbtn" data-character="druid"></button>
                </li>
                <li class="menu-item">
                    <button class="character-button" id="shamanbtn" data-character="shaman"></button>
                </li>
                <li class="menu-item">
                    <button class="character-button" id="paladinbtn" data-character="paladin"></button>
                </li>
            </ul>
        </div>
        <div id="talentbox" style="display:none;">
            <div id="talentdatarow">
                <button class="treebutton" id="copylinkbutton">Copy</button>
                <button class="treebutton" id="treeresetbutton">Reset</button>
                <div id="totaltalentpoints">
                    <h2><span id="talentpoints"></span> Points Remaining </h2>
                </div>
            </div>
            <span class="tooltip"></span>
            <div class="talentcontainer">
            </div>
        </div>
        <div id="selectedTalentOutput" style="display: none;">
            <div id="talentOutputContainer">
                <div id="talentoutput">
                    <h1>Your Talent Build Provides:</h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function generateTalentTrees() {
            talentTreeHTML = ''
            for (let table = 1; table <= 3; table++) {
                talentTreeHTML += '<div class="classtalents" id="talent' + table + '">'
                talentTreeHTML += '<section class="talentheader"><section class= "iconcontainer" id="headericon' + table + '"></section>'
                talentTreeHTML += '<p id="headertext' + table + '"></p>'
                talentTreeHTML += '<section class="treepoints" id="talentpoints' + table + '"></section></section>'
                talentTreeHTML += '<table class="table table-borderless"><tbody data-id="' + (table - 1) + '">'
                for (let row = 1; row <= 7; row++) {
                    talentTreeHTML += '<tr>'
                    for (let col = 1; col <= 4; col++) {
                        talentTreeHTML += '<td id="' + (table - 1) + String.fromCharCode(96 + row) + col + '"><div class="talentimage"></div><span class="individualtalentpoints"><span class="currenttalentpoints"></span>' + '/' + '<span class="maxtalentpoints"></span></span></td>'
                    }
                    talentTreeHTML += '</tr>'
                }
                talentTreeHTML += "</tbody></table></div>"
            }
            return talentTreeHTML
        }
        document.querySelector(".talentcontainer").innerHTML = generateTalentTrees()
    </script>
    <script src="/talent-data/talentSupplement.js"></script>
    <script src="/talent-data/druid.js"></script>
    <script src="/talent-data/hunter.js"></script>
    <script src="/talent-data/mage.js"></script>
    <script src="/talent-data/warlock.js"></script>
    <script src="/talent-data/paladin.js"></script>
    <script src="/talent-data/priest.js"></script>
    <script src="/talent-data/rogue.js"></script>
    <script src="/talent-data/shaman.js"></script>
    <script src="/talent-data/warrior.js"></script>
    <script src="/scripts/talentFunctions.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const characterButtons = Array.from(document.querySelectorAll('.character-button'));
            const talentButtons = Array.from(document.getElementsByTagName('td'));
            const menuButtons = Array.from(document.querySelectorAll('.menu-button'));
            characterButtons.forEach(button => button.addEventListener('click', selectClass));
            characterButtons.forEach(button => button.addEventListener('click', displayCharacter));
            menuButtons.forEach(menuButton => menuButton.addEventListener('click', toggleMenuText));
            menuButtons.forEach(menuButton => menuButton.addEventListener('click', function (e) {
                e.preventDefault()
            }));
            translateURL()
        });
    </script>


    <% include partials/footer %>